html{
    font-family:'Courier New', Courier, monospace;
    background-image: url(https://source.unsplash.com/qEaELLSYZW0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main{
background-color: rgba(113, 205, 174, 0.603);
box-shadow: 0 0 20px black;
width: 75vw;
margin: 0 auto;
border-radius: 7px;
border: 5px dashed #5fa8d3;
transition: background-color 2s, border 2s;
}
.clearing{
    clear: both;
}
header{
    text-align: center;
    margin: 3em auto 5em auto;
    width: 40vw;
    border: 5px dashed #264653;
    border-radius: 5px;
    color: #264653;
    box-shadow: 0 0 20px black;
    background-color: #5fa8d3;
    letter-spacing: 3px;
    font-size: 25px;
}
.headings{
    border-bottom: 1px dashed black;
    text-align: center;
    width: 30%;
    margin: 5px auto;
    letter-spacing: 7px;
    font-size: xx-large;
}
.paragraph{
    font-family: cursive;
    letter-spacing: 2px;
    word-spacing: 4px;
    padding: 0 2em;
}
img{
    width: auto;
    height: 9em;
    padding: 10px;
    border: 3px solid #1b4965;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    transition: width 2s, height 2s;
}
body{
    backdrop-filter: blur(8px);
    margin: -10px;
    height: 100%;
}
div{
    text-align: center;
}
video{
    text-align: center;
    display: inline-block;
    width: fit-content;
    height: 15em;
    padding: 10px;
    border: 3px solid #1b4965;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
img:hover{
    width: auto;
    height: 15em;
    padding: 10px;
    border: 3px solid #1b4965;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
main:hover{
    background-color: #cae9ffa5;
    border: 5px dashed black;
}
footer{
    background-color:#1b4965;
    margin: 30px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-container{
    background-color: #1b4965;
    padding: 20px;
    border-radius: 10px;
}
form{
    position: relative;
    padding: 20px;
    background-color:#cae9ffa5;
    width: 48%;
    text-align: left;
    border-radius: 10px;
}
.unit{
    position: relative;
    text-align: left;
    display: inline-block;
    width: 48%;
    margin: 1em 0;
}
.unit:last-of-type{
    width: 100%;
}
.input{
    display: block;
    padding: 1.5% 0;
    background-color: lightblue;
    border: 0;
    border-radius: 10px;
    transition: background-color 1s;
    width: 80%;
}
.input[type="submit"]{
    height: 3em;
    width: 20%;
    text-align: center;
    border: 1px solid #1b4965;
}
.input:focus{
    background-color: white;
    outline: none;
    box-shadow: none;
}
form textarea{
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 5em;
    resize: none;
    overflow: auto;
}
textarea:focus{
    border: 0;
    outline: none;
    box-shadow: none;
}
a{
    color:rgb(255, 255, 255);
    background-color: #264653;
    transition: all 1s;
    padding: 20px;
    margin: auto auto;
}
a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 40px;
}